{% extends 'flatpages/default.html' %}

{% load static %}

{% block content %}
<h3>Позновательная информация.</h3>
<table align="center">
<tr>
    <td align="left"> <h4>Классификация отходов.<img src="{% static 'images/img11.png' %}" width="70" height="70"></h4>Существует несколько подходов к классификации мусора. Самый простой – по месту происхождения. Так мусор делится на промышленный и бытовой. Также существуют классификации по материалу, возможности переработки, эпидемиологическому значению.<br>
<br>В России принято делить отходы на классы, исходя из их влияния на экосистему. В странах Запада в первую очередь обращают внимание на возможность вторичной переработки. Такой подход не просто констатирует вред для экологии, но является первым шагом для разрешения экологической катастрофы. Это наглядно объясняет разницу подхода к проблеме бытового мусора в разных странах.<br><br>По влиянию на окружающую среду в России выделяют следующие группы опасности отходов:<br>
Чрезвычайно опасные – не разлагаются, экосистема после них не восстанавливается;<br>
Очень опасные – длительно разлагаются, экосистема восстанавливается более 30 лет после полного очищения от отходов;<br>
Опасные – экосистема восстановится через 10 лет после уничтожения источника;<br>
Малоопасные – на восстановление баланса в природе понадобится 3 года;<br>
Неопасные – экосистема не нарушена.<br><br>
Такая классификация возникла из тех соображений, что большую часть мусора в России не перерабатывают, а отвозят на свалки. Там мусор хранится годами и десятилетиями, что нарушает экологию.<br>
Куда более правильной, с точки зрения проблемы мусора в окружающем мире, является классификация по возможности переработки отходов. В странах Запада каждый<br> человек понимает, что мусор можно не просто сложить, его можно рассортировать. Таким образом отходы делят на: органику, бумагу и картон, пластик, металл,<br> стекло, резину, несортируемые и опасные отходы (батарейки, аккумуляторы, ртутные термометры).</td>
 <td align="left"><h4>Влияние мусора на окружающую среду<img src="{% static 'images/img22.png' %}" width="70" height="70"></h4> Большинство людей не задумывается над тем, какую опасность проблема мусора несет для человечества. Прежде всего, газы, образующиеся на свалках, создают так<br>называемый «парниковый» эффект. Это основная причина глобального потепления, которое грозит вымиранием многим видам животных и затоплением значительных<br> участков суши.<br><br>

Внимание! Особую опасность для окружающей среды представляет пластик. Масштабы его потребления просто катастрофические. Тысячи тонн пластика оказываются на<br> свалках, откуда попадают в воду, уничтожая морских животных и птиц, разрушая целые экосистемы.<br><br>

К тому же, большинство видов отходов разлагаются не просто десятки, а сотни и тысячи лет. Таким образом, то, что человек выбрасывает на свалку на протяжении<br> своей жизни, разлагается дольше, чем живет он сам, его дети, внуки и правнуки. Свалки занимают большие площади. После них земля в этом месте становится<br> непригодной для жизни.<br><br>

Особое значение проблема мусора имеет в России. Здесь большое количество несанкционированных свалок, которые иногда располагаются просто посреди жилых<br> кварталов. К тому же, низкая культура потребления и уровень ответственности населения, наносят дополнительный вред окружающей среде. Решить проблему можно, но<br> для этого необходимы определенные средства.<br><br><br><br><br><br><br></td>

</tr>
 <td ><img src="{% static 'images/img1.jpg' %}" width="600" height="500"></td>
 <td><img src="{% static 'images/img2.jpg' %}" width="600" height="500"></td>
</tr>

<tr>
 <td align="left"><h4>Разумное потребление<img src="{% static 'images/img33.png' %}" width="70" height="70"></h4> Это первое, что может и должен сделать каждый человек для решения проблемы загрязнения мусором. Разумное потребление означает целенаправленное уменьшение количества отходов еще на этапе покупки товаров. В некоторых странах Европы очень хорошо развита культура потребления. Люди покупают вещи только тогда, когда действительно в них нуждаются. Также у них не принято выбрасывать одежду и обувь. Вместо этого более обеспеченные слои населения отдают одежду менее обеспеченным людям.<br><br>
Некоторые бренды выпускают одежду из переработанного сырья. Рекомендуется отдать предпочтение товарам именно этих производителей. Все, что можно переработать отдается на переработку. Аккумуляторы, батарейки и электроника никогда не вбрасываются. Вместо этого они отправляются в специальные пункты сбора.<br><br>
Негативное воздействие на окружающую среду оказывают пластиковые тары и упаковки, одноразовая посуда. Отказ от их использования – важный шаг на пути к решению проблемы загрязнения мусором. Также рекомендуется покупать качественные товары, которые прослужат дольше. В России больше, чем в других странах развита погоня за модой. Новая одежда, обувь, флагманские смартфоны – все это покупается, используется непродолжительное время – и отправляется на свалку.<br><br>
Такое отношение к потреблению опасно для окружающей среды. Осознанное приобретение товаров – то, что может сделать каждый человек для нашей планеты.</td>
 <td align="left"><h4>Сортировка и вторичная переработка мусора<img src="{% static 'images/img44.png' %}" width="70" height="70"></h4> Переработка отходов – наиболее эффективный метод решения проблемы мусора на данный момент. Все, что может быть переработано и использовано повторно – перерабатывается, остальное – утилизируется. Такой подход действует в большинстве развитых стран.<br><br>
Начальный этап – сортировка. Ею занимается каждый сознательный житель развитых стран. Существуют разные походы к сортировке. Например, в некоторых странах выделяют мусор перерабатываемый и неперерабатываемый. Их складывают в разные пакеты. Первый вывозится на сортировочный пункт, второй – нет. В некоторых штатах США принято перерабатываемые отходы складывать в синие пакеты. Весь мусор приходит на сортировочный пункт, откуда изымаются синие пакеты и уже из них мусор сортируют.<br><br>
В европейских странах сортировка происходит еще в доме. У каждого дома стоит несколько контейнеров для мусора или один контейнер с разными отделами. Сортировка происходит по-разному. Где-то отдельно складывают пищевые отходы, стекло, пластик, бумагу. Где-то нет отдельных контейнеров для стекла, а где-то – есть даже для металлов. Подход к сортировке различается. Суть сортировки одинаковая – разделить предметы, которые пойдут на разные заводы по переработке.<br><br>
Обратите внимание! В некоторых странах существует денежное поощрение возвращения тар и упаковок. При покупке продуктов в таре из пластика или бумаги, за нее платят отдельно. Затем, когда тара возвращается в специальный пункт сбора, деньги за нее отдают. Плата является как бы залогом того, что упаковка будет возвращена.<br><br>
Проблема переработки мусора существует во многих странах. Не каждое государство может позволить завод, который занимался бы переработкой отходов. Это дорогое предприятие, которое не всегда окупается. С точки зрения предотвращения экологической катастрофы, переработка мусора – наиболее эффективный способ избавления от отходов.<br><br></td>
</tr>

</tr>
 <td><img src="{% static 'images/img3.jpg' %}" width="600" height="500"></td>
 <td><img src="{% static 'images/img4.jpeg' %}" width="600" height="500"></td>
</tr>
</table>

<style>
body{
    background-color: #a0e69e
   }
</style>
{% endblock content %}
