{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Post
{% endblock title %}

{% block content %}
    <hr>
    {% if item %}
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Текст
                </td>
                <td>
                    Автор
                </td>
                <td>
                    Категория
                </td>
                <td>
                    Рейтинг
                </td>
            </tr>
            <tr>
                <td>
                    {{ item.headline|censor }}
                </td>
                <td>
                    {{ item.publication_date_and_time|date:'D M Y' }}
                </td>
                <td>
                    {{ item.text|censor }}
                </td>
                <td>
                    {{ item.author.user.username }}
                </td>
                <td>
                    {{ item.get_category_names }}
                </td>
                <td>
                    {{ item.rating }}
                </td>
            </tr>
        </table>
    {% else %}
        <h2>Такой новости нет!</h2>
    {% endif %}
{% endblock content %}
