{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Post
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    <h2>Всего новостей: {{ news|length }}</h2>
    <hr>
    {% if news %}
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Предпросмотр текста
                </td>
            </tr>
        {% for item in news %}
            <tr>
                <td>
                    {{ item.headline|censor }}
                </td>
                <td>
                    {{ item.publication_date_and_time|date:'D M Y' }}
                </td>
                <td>
                    {{ item.text|truncatewords:20|censor }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}
