{% extends 'flatpages/default.html' %}

{% load custom_filters %}
 
{% block title %} Product list {% endblock title %}
 
{% block content %}
<h3>Изменение/создание поста.</h3>

{% if item %}
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Текст
                </td>
                <td>
                    Автор
                </td>
                <td>
                    Категория
                </td>
                <td>
                    Рейтинг
                </td>
            </tr>
            <tr>
                <td>
                    {{ item.headline|censor }}
                </td>
                <td>
                    {{ item.publication_date_and_time|date:'D M Y' }}
                </td>
                <td>
                    {{ item.text|censor }}
                </td>
                <td>
                    {{ item.author.user.username }}
                </td>
                <td>
                    {{ item.get_category_names }}
                </td>
                <td>
                    {{ item.rating }}
                </td>
            </tr>
        </table>
    {% else %}
        <h2>Создание поста.</h2>
    {% endif %}

<form method="POST">
    {% csrf_token %} 
    {{ form }}
    <input type="submit" value="Изменить/добавить новость.">
</form>
{% endblock content %}
