{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_simple_tag %}

{% block title %}
Posts search
{% endblock title %}

{% block content %}
    <h1>Поиск новостей и статей</h1>


    <hr>
    <p1>Подписаться/отписаться на категории -> </p1>
    <button> <a href="{% url 'subscribe_me1' %}">sport</a> </button>
    <button> <a href="{% url 'subscribe_me2' %}">music</a> </button>
    <button> <a href="{% url 'subscribe_me3' %}">science</a> </button>
    <button> <a href="{% url 'subscribe_me4' %}">cinema</a> </button>
    <hr>


    <form method="get">
        {{ filter.form }}
        <input type="submit" value="Найти">
    </form>
    <hr>
    <h3>Найдено: {{ filter.qs|length }}</h3>
        <hr>
        {% if person_page_object %}
        <table>
            <thead>
                <th>
                    <h3>Тема (заголовок)</h3>
                </th>
                <th>
                    <h3>Дата публикации</h3>
                </th>
                <th>
                    <h3>Автор</h3>
                </th>
            </thead>
            {% for item in person_page_object %}
            <tr>
                <td>
                    <a href="{% url 'post_detail' item.id %}">{{ item.headline|title|censor }}</a>
                    <a href="{% url 'post_edit' item.id %}">Редактировать</a>
                    <a href="{% url 'post_delete' item.id %}">Удалить</a>
                </td>
                <td>
                    {{ item.publication_date_and_time|date:'d-m-y H:m' }}
                </td>
                <td>
                    {{ item.author.user.username }}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <hr>


<a href="{% url 'post_add' %}">Добавить пост.</a>

{% if is_paginated %}

    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
{% endif %}

{% endblock content %}
